@import forms.LoginForm
@(loginForm: Form[LoginForm], error: String)

@import helper._

@main("welcome") {

    <script>
            var msg = "@error";
            if(msg != ""){
                bootbox.alert(msg);
            }
    </script>

    <h3>Login Form</h3>
    @form(action=routes.HomeController.doLogin()) {

        Username <input type="text" name="username" class="form-control"/> <br />
        Password <input type="password" name="password" class="form-control"/> <br />
        <input type="submit" value="Login" class="form-control">
        <br />
    }
}